$nav-height: 150px
$main-color: #E84C3D
$background-image: url("../img/BarBackground.jpg")
$blue-text: #36799A

@import url('https://fonts.googleapis.com/css?family=Open+Sans')

body
  font-family: 'Open Sans', sans-serif
  overflow: hidden
  .nav
    position: absolute
    top: 0
    left: 0
    display: block
    height: $nav-height
    width: 100%
    background: $main-color
    display: flex
    justify-content: center
    align-items: center
    .title
      font-size: 4em
      font-weight: bold
      color: white
    .search
      right: .5em
      color: white
      font-size: 3.5em
      position: absolute
    .profile
      left: .5em
      color: white
      font-size: 3.5em
      position: absolute
  .login-register-content
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-image: $background-image
    background-size: cover
    background-repeat: no-repeat
    background-position: center center
    display: flex
    align-items: center
    justify-content: center
    .title
      position: absolute
      color: white
      font-size: 7em
      text-shadow: 5px 5px black
      width: 100%
      text-align: center
      top: 20%
      &:after
        content: ''
        position: absolute
        height: 10px
        width: 15%
        background: white
        bottom: -25px
        left: calc(50% - 7.5%)
    .form
      display: flex
      align-items: center
      justify-content: center
      flex-direction: column
      width: 100%
      box-sizing: border-box
      bottom: 0
      background: rgba(black, .4)
      .forgot-password
        color: white
        top: 75%
        position: absolute
        font-size: 2.3em
      .new-member
        color: white
        top: 95%
        position: absolute
        font-size: 2.3em
        .secondary
          display: inline-block
          color: lighten($blue-text, 20%)
          font-weight: bold
          border-bottom: 2px solid white
    form.login-form
      display: flex
      align-items: center
      justify-content: center
      flex-direction: column
      width: 100%
      height: 100%
      input.text-box, button
        width: 100%
        font-size: 3em
        margin-bottom: 10px
      input.text-box
        padding: 30px
        box-sizing: border-box
        &:first-child
          margin-top: 20%
      button
        background-color: $main-color
        color: white
        border: 2px solid #666
        border-radius: 5px
        margin-top: 10%
        height: 150px
        width: 70%
        &:hover
          background-color: darken($main-color, 5%)
    form.register-form
      display: flex
      align-items: center
      justify-content: center
      flex-direction: column
      width: 100%
      height: 100%
      input.text-box, button
        width: 100%
        font-size: 3em
        margin-bottom: 10px
      input.text-box
        padding: 30px
        box-sizing: border-box
        &:first-child
          margin-top: 40%
      button
        background-color: $main-color
        color: white
        border: 2px solid #666
        border-radius: 5px
        margin-top: 10%
        height: 150px
        width: 70%
        &:hover
          background-color: darken($main-color, 5%)
    .bottom-text
      position: absolute
      color: white
      bottom: 5%
      font-size: 2.3em
      display: inline-block
      width: 100%
      text-align: center
      padding: 0 5%
      box-sizing: border-box
      .blue-text
        color: lighten($blue-text, 15%)
        display: inline
      p
        display: inline
