doctype(html)
html
  head
    meta(charset="utf-8")
    title A Revolutionary New Drink Ordering App - Barly
    link(rel="stylesheet" type="text/css" href="css/styles.css")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
  body
    .login-register-content
      .title Bar.ly
      .form
        form(method="POST" class="login-form")
          input(type='hidden', name='_csrf', value=_csrf)
          input(type="email" id="email" class="text-box" name="email" placeholder="Email")
          input(type="password" id="password" class="text-box" name="password" placeholder="Password")
          button(type="submit" name="sign-in") Sign In
        a.forgot-password(href="./forgot") Forgot your password?
        .new-member New?
          a(href="./register").secondary Become a member
