extends layout

block content
  h3=title
  form#form_add_drink(name="adddrink", method="post", action="/adddrink")
    span Name
    span &nbsp;
    input#input_name(type="text", placeholder="Drink name", name="drink_name")
    br
    br
    span Bar
    span &nbsp;
    input#input_bar(type="text", placeholder="Bar name",name="bar_name")
    br
    br
    span Price
    span &nbsp;
    input#input_currentprice(type="text", placeholder="Current price", name="price")
    br
    br
    button#submit_drink(type="submit") Submit
