doctype(html)
html
  head
    meta(charset="utf-8")
    title A Revolutionary New Drink Ordering App - Barly
    link(rel="stylesheet" type="text/css" href="css/singlebar.css")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
  body
    .nav
      .title Bar.ly
      .search
        i(class="fa fa-search icon" aria-hidden="true")
      .profile
        i(class="fa fa-user-o icon" aria-hidden="true").icon
    .bar-content
      .menu
        ul
          li Menu
          li About
          li Reviews
      .header
        .back-to-results < Back to search results
