<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h3></h3>
    <form id="form_add_patron" name="addpatron" method="post" action="/addpatron"><span>Name</span><span>&nbsp;</span>
      <input id="input_name" type="text" placeholder="Patron" name="patron"><br><br><span>Drink</span><span>&nbsp;</span>
      <input id="input_drink" type="text" placeholder="Drink" name="drink"><br><br><span>Current Code</span><span>&nbsp;</span>
      <input id="input_currentcode" type="text" placeholder="Current Code" name="currentcode"><br><br>
      <button id="submit_patron" type="submit">Submit</button>
    </form>
  </body>
</html>