script(src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="   crossorigin="anonymous")
script(src="./js/sidebar.js")

.nav
  .title Bar.ly
  .search
    i(class="fa fa-search icon" aria-hidden="true")
  .settings
    i(class="fa fa-bars" aria-hidden="true").icon
.sidebar
    .profile-content
        if user
            span.welcome Welcome
                span.name= user.getName()
            img(src="./img/user.png")
        else
            span.welcome Login to order faster!
            img(src="https://placeholdit.imgix.net/~text?txtsize=6&txt=50%C3%9750&w=50&h=50")
    if user
        a(href="./").item.active Payment Methods
        a(href="./").item History
        a(href="./logout").item Logout
    else
        a(href="./login").item.active Login
        a(href="./signup").item Register
        a(href="./forgot").item Forgot Password

    .copyright &copy; Barly 2017
.background
