doctype(html)
html
  head
    meta(charset="utf-8")
    title A Revolutionary New Drink Ordering App - Barly
    link(rel="stylesheet" type="text/css" href="../css/styles.css")
  body
    .login-register-content
      .title Bar.ly
      .form
        form(method='post', action='/users/register' class="register-form")
          input(type="text" class="text-box" name="name" placeholder="Name")
          input(type="email" class="text-box" name="email" placeholder="Email")
          input(type="password" class="text-box" name="password" placeholder="Password")
          input(type="password" class="text-box" name="password2" placeholder="Re-Enter Password")
          button(type="submit" name="sign-in") Sign Up
      .bottom-text By creating an account, you agree to our
        .blue-text Marketplace User Agreement
        p and
        .blue-text Privacy Policy
