<!DOCTYPE (html)>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>A Revolutionary New Drink Ordering App - Barly</title>
    <link rel="stylesheet" type="text/css" href="css/singlebar.css"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>
  </head>
  <body>
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="../js/sidebar.js"></script>
    <div class="nav">
      <div class="title">Bar.ly</div>
      <div class="search"><i aria-hidden="true" class="fa fa-search icon"></i></div>
      <div class="settings"><i aria-hidden="true" class="fa fa-bars icon"></i></div>
    </div>
    <div class="sidebar">
      <div class="profile-content"><span class="welcome">Welcome<span class="name">Yusuf</span></span><img src="img/profile.jpg"/></div><a href="./" class="item active">Payment Methods</a><a href="./" class="item">History</a><a href="./" class="item">Settings</a>
      <div class="copyright">&copy; Barly 2017</div>
    </div>
    <div class="background"></div>
    <li role="presentation"><a href="/users/login">Login</a></li>
    <li role="presentation"><a href="/users/register">Register</a></li>
    <div class="bar-content">
      <div class="menu">
        <ul>
          <li class="current">Menu</li>
          <li>About</li>
          <li>Reviews</li>
        </ul>
      </div>
      <div class="header"><a href="./" class="back-to-results">< Back to search results</a>
        <div class="name">Lowell Beer Works</div>
        <div class="address">203 Cabot St</div>
        <div class="phone"> <i aria-hidden="true" class="fa fa-phone"> (978) 937-2337</i></div>
        <div class="rating"><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star"></i><i aria-hidden="true" class="fa fa-star-half-o"></i>
          <div class="review-count">59 
            <div class="google-reviews">Google Reviews</div>
          </div>
        </div>
      </div>
      <div class="most-popular"><i aria-hidden="true" class="fa fa-glass"></i>
        <div class="text">Most Popular</div>
      </div>
      <div class="drinks"><a href="./checkout" class="drink">
          <div class="main-description">
            <div class="title">Bud Lite</div>
            <div class="description">Single Malt and Single Hop Series w/ Great Flavor</div>
          </div>
          <div class="price">$6.25</div></a><a href="./checkout" class="drink">
          <div class="main-description">
            <div class="title">Single Hop Pale Ale</div>
            <div class="description">Single Malt and Single Hop Series w/ Great Flavor</div>
          </div>
          <div class="price">$10.00</div></a><a href="./checkout" class="drink">
          <div class="main-description">
            <div class="title">Cranberry Vodka</div>
            <div class="description">Single Malt and Single Hop Series w/ Great Flavor</div>
          </div>
          <div class="price">$9.25</div></a><a href="./checkout" class="drink">
          <div class="main-description">
            <div class="title">Blue Moon</div>
            <div class="description">Single Malt and Single Hop Series w/ Great Flavor</div>
          </div>
          <div class="price">$7.25</div></a><a href="./checkout" class="drink">
          <div class="main-description">
            <div class="title">Corona</div>
            <div class="description">Single Malt and Single Hop Series w/ Great Flavor</div>
          </div>
          <div class="price">$5.75</div></a></div>
    </div>
  </body>
</html>