@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,800");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,800");
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  z-index: 10;
  height: 150px;
  width: 100%;
  background: #E84C3D;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav .title {
  font-size: 4em;
  font-weight: bold;
  color: white;
}

.nav .search {
  right: .5em;
  color: white;
  font-size: 3.5em;
  position: absolute;
}

.nav .settings {
  left: .5em;
  color: white;
  font-size: 3.5em;
  position: absolute;
}

@keyframes slide-right {
  100% {
    left: -2px;
  }
}

.sidebar {
  position: fixed;
  left: -70%;
  top: 0;
  height: 100%;
  width: 70%;
  background: #2D2D39;
  z-index: 15;
  animation: slide-right 1s forwards;
  display: none;
}

.sidebar .profile-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #292935;
  height: 400px;
  width: 100%;
  position: relative;
  z-index: 15;
  background-image: url(../img/sidebar-top.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
}

.sidebar .profile-content:before {
  content: "";
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 401px;
  background: linear-gradient(rgba(0, 0, 0, 0.75), #2d2d39);
}

.sidebar .profile-content img {
  position: relative;
  z-index: 12;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 4px solid #E84C3D;
  margin-top: 20px;
}

.item {
  width: 100%;
  height: 150px;
  position: relative;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5em;
  text-transform: uppercase;
  z-index: 12;
  text-decoration: none;
}

.active {
  background: #292935;
  outline: 1px solid #111;
  border-top: 1px solid #555;
}

.active:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 10px;
  background: #E84C3D;
}

.welcome {
  color: white;
  width: 100%;
  height: 100px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5em;
  position: relative;
  z-index: 12;
}

.welcome .name {
  font-weight: bold;
  margin-left: 15px;
}

.copyright {
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: #292935;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

.background {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.85);
  z-index: 13;
  display: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  display: inline;
  margin-right: 15px;
}

.bar-content {
  position: absolute;
  top: 150px;
  left: 0;
  height: calc(100% - 150px);
  width: 100%;
}

.bar-content .menu {
  height: 100px;
  width: 100%;
  background: #eee;
  font-size: 2.2em;
  font-weight: bold;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin-top: -1px;
}

.bar-content .menu ul li {
  line-height: 100px;
  padding: 0 30px;
}

.bar-content .menu ul li.current {
  background: #E84C3D;
  height: 100px;
  display: inline-block;
  color: white;
}

.bar-content .header {
  position: relative;
  height: 600px;
  background: url(../img/bar-headers/lowellbeerworks.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-left: 50px;
}

.bar-content .header img {
  width: 100%;
}

.bar-content .header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.bar-content .header a.back-to-results {
  color: white;
  font-size: 2.5em;
  position: relative;
  padding: 30px 0 0 0;
  z-index: 3;
  display: inline-block;
  text-decoration: none;
}

.bar-content .header .name {
  color: white;
  font-size: 4.5em;
  z-index: 3;
  position: relative;
  padding: .5 1em 0 0;
  margin-top: 2em;
  font-weight: bold;
}

.bar-content .header .address {
  color: white;
  font-size: 2.5em;
  z-index: 3;
  position: relative;
  padding-right: 1.5em;
  font-weight: bold;
  display: inline-block;
}

.bar-content .header .phone {
  color: white;
  z-index: 3;
  position: relative;
  display: inline-block;
}

.bar-content .header .phone i {
  font-size: 2.5em;
  font-weight: bold;
}

.bar-content .header .rating {
  margin-top: 80px;
}

.bar-content .header .rating i {
  color: yellow;
  font-size: 3em;
  position: relative;
  z-index: 3;
  font-weight: bold;
  display: inline-block;
}

.bar-content .header .rating .review-count {
  color: white;
  position: relative;
  z-index: 3;
  display: inline-block;
  font-size: 2.5em;
  margin-left: 20px;
  font-weight: bold;
}

.bar-content .header .rating .google-reviews {
  display: inline;
  font-weight: normal;
}

.bar-content .most-popular {
  font-size: 2.5em;
  width: 100%;
  height: 100px;
  background: #eee;
  display: flex;
  align-items: center;
  padding-left: 20px;
  box-sizing: border-box;
}

.bar-content .most-popular i {
  color: #03A9F4;
  display: inline-block;
}

.bar-content .most-popular .text {
  display: inline-block;
  margin-left: 20px;
  color: #555;
  font-weight: bold;
}

.bar-content .drink {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #999;
}

.bar-content .drink .title {
  font-size: 2.75em;
  font-weight: bold;
  color: #03A9F4;
}

.bar-content .drink .description {
  font-size: 2em;
}

.bar-content .drink .price {
  font-size: 3em;
  font-weight: bold;
  color: #555;
}
