.container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.container .header {
  width: 100%;
  height: 150px;
  position: absolute;
  top: 0;
  background: #FF9900;
}

.container .header .btn {
  position: absolute;
  top: 30px;
  left: 20px;
  height: calc(100% - 60px);
  width: 20%;
  border: 3px solid #434343;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5em;
  font-family: sans-serif;
  color: #434343;
  font-weight: bold;
}

.container .header .btn:hover {
  background: #434343;
  color: white;
}

.container .header .title {
  color: black;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 4em;
  font-family: sans-serif;
}

.container .body {
  height: 100%;
  width: 100%;
  background-image: url(./img/bar.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  position: absolute;
  top: calc(150px + 3px);
  left: 0;
}
